<div>
  <button class="btn btn-block btn-danger deletable-object-toggle" ng-click="toggleDeleting($event)" ng-disabled="isDisabled">Remove {{objectType}}</button>

  <em class="text-danger" ng-show="isDeleting">You are about to remove your {{objectType}}. To confirm, type the name of the {{objectType}} and press enter.</em>

  <input class="form-control" ng-blur="stopDeleting($event)" ng-keypress="deleteObject($event)" ng-model="repeatObjectName" ng-show="isDeleting" placeholder="name of {{objectType}}" type="text">
</div>
