.task-list {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  min-height: 50px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 3px;
  width: 226px;
}

.task-list > .ui-sortable-placeholder {
  background-color: #cec;
  border: none;
  box-shadow: none;
  visibility: visible !important;
}

div[ui-view="task-view"] > input {
  flex: 0 1 auto;
  min-height: 32px;
  margin-top: 5px;
  margin-bottom: 1px;
  background-color: #eee;
}

div[ui-view="task-view"] > input:hover,
div[ui-view="task-view"] > input:focus {
  background-color: #fff;
}
