.task-list {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  min-height: 78px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 3px;
  width: 226px;
}

.task-list > .ui-sortable-placeholder {
  background-color: #cec;
  border: none;
  box-shadow: none;
  visibility: visible !important;
}

.task-view > input {
  flex: 0 0 auto;
  height: 32px;
  margin-top: 10px;
  margin-bottom: 1px;
  background-color: #eee;
}

.task-view > input:hover,
.task-view > input:focus {
  background-color: #fff;
}
