<div class="board-modal modal-container" ng-click="cancelEditing($event)">
  <div class="modal-close">
    <span class="btn glyphicon glyphicon-remove" ng-click="closeModal()"></span>
  </div>

  <div class="modal-title">
    <h3 class="edit-board" ng-click="renameBoard($event)" ng-hide="isEditingName">{{board.name}}</h3>
    <input class="board-name edit-board form-control" ng-keypress="renameBoard($event)" ng-model="board.name" ng-show="isEditingName" type="text">
    <h4 class="text-muted">in user <b>{{user.username | uppercase}}</b></h4>
  </div>
  <div class="modal-user-list">
    <kb-user id="modal-user"></kb-user>
  </div>
  <hr>

  <div class="modal-options">
    <h4>Options</h4>
    <button class="btn btn-block btn-default edit-board" ng-click="renameBoard($event)">Rename Board</button>
    <button class="btn btn-block btn-danger" ng-disabled="true">Transfer Ownership</button>
    <button class="btn btn-block btn-danger delete-board" ng-click="deleteBoard($event)">Delete Board</button>
    <p ng-show="isDeletingBoard"><em class="delete-board text-danger">Are you sure? Deleting a board is permanent. Confirm by typing the name of the board and press enter.</em></p>
    <input class="delete-board delete-board-input form-control" ng-keypress="deleteBoard($event)" ng-model="repeatBoardName" ng-show="isDeletingBoard" placeholder="enter board name" type="text">
  </div>
</div>
