.task-container {
  position: relative;
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 3px;
  box-shadow: 0px 0px 5px #ccc;
  flex: 1 0 auto;
  min-height: 60px;
  margin-bottom: 3px;
  padding: 0px 5px 0px 5px;
  width: 100%;
}

.task-container:hover {
  border: 1px solid #777;
  cursor: pointer;
}

.close-task {
  position: absolute;
  top: 1px;
  right: 3px;
  background: rgba(0, 0, 0, 0);
  border: none;
  color: rgba(0, 0, 0, 0);
  font-size: 8px;
  height: 0px;
  padding: 0px;
}

.task-container:hover .close-task {
  color: #aaa;
}

.task-container:hover .close-task:hover {
  color: #333;
}

.task-container h5 {
  overflow: hidden;
  text-overflow: ellipsis;
}

.task-container .user-list-container {
  display: flex;
  justify-content: flex-end;
  margin: 0px 0px 2px 35px;
  max-width: 174px;
}

.task-container .user-list {
  display: inline-flex;
  flex: 0 1 auto;
  flex-direction: row;
  justify-content: flex-end;
  min-width: 17px;
  min-height: 36px;
  padding: 2px;
}

.user-list > .user-container:hover {
  cursor: -webkit-grab;
  cursor: drag;
}

.task-container .background {
  background-color: #fdd;
}

.task-comment {
  position: absolute;
  bottom: 2px;
  top: auto;
  font-size: 12px;
}

.task-comment span {
  position: relative;
  bottom: 1px;
  left: 2px;
}
