.user-menu-container input::-webkit-input-placeholder {
  font-size: 13px;
  font-style: italic;
}

.add-member-dropdown {
  margin-top: 13px;
  width: 180px;
}

.user-menu-container {
  height: 90px;
  width: 300px;
}

.user-menu-container input[type="text"] {
  display: inline;
  width: 180px;
}

.user-menu-container button {
  display: inline;
  width: 100px;
}

.board-member-container {
  display: block;
  height: 40px;
}

.board-member-container .user {
  float: left;
}

.user-container {
  float: left;
  margin: 0px 1px;
}

.user-container img {
  border: 1px solid #aaa;
  height: 32px;
  width: 32px;
}

.board-member-container .form-group {
  margin-top: 10px;
  width: 190px;
}
