<h4>{{board.name | uppercase}} Members</h4>

<div class="user-menu-container">
  <div class="board-member-container">
    <span ui-sortable="userSortOpts" class="user-selection" ng-model="users">
      <kb-user ng-repeat="user in users"></kb-user>
      </span>
  </div>

  <span dropdown on-toggle="dropdown">
    <input dropdown-toggle type="text" class="input-md form-control" placeholder="ex:member@mail.com" ng-model="addMemberInput" ng-keypress="addMemberFn($event)">
    <ul class="dropdown-menu" id="add-member-dropdown">
    <li ng-repeat="member in membersSuggestions" ng-click="setAddMember(member.email)"><a>{{member.email}}</a></li>
    </ul>
    </span>
  <button class="btn btn-black btn-md" ng-click="addMemberFn()">Add Member</button>
</div>
