.board-list > * {
  display: inline-block;
  margin-top: 10px;
  font-size: 2em;
  white-space: pre;
}


/*this must be below the other .board-list-container *[ng-repeat] rules */

.board-list-container *[ng-repeat] > .glyphicon {
  margin-bottom: 3px;
}

#boards-dropdown-menu {
  color: #000;
  font-size: 0.7em;
  text-decoration: none;
}
