/*CATEGORY CONTAINER*/

.category-container h4 {
  margin-bottom: 0px;
}

.category-container:hover {
  border: 2px solid #777;
}

#closeCategory {
  position: relative;
  font-size: 0.6em;
  bottom: 31px;
  left: 218px;
  height: 0px;
  padding: 0px;
  color: rgba(0, 0, 0, 0);
  background: rgba(0, 0, 0, 0);
  border: none;
}

.category-container:hover #closeCategory {
  color: #aaa;
}

.category-container:hover #closeCategory:hover {
  color: #333;
}

.board-categories-create {
  width: 240px;
  margin-right: 10px;
  padding: 0px 5px 5px 5px;
  border: 1px solid #aaa;
  border-radius: 3px;
  background-color: #eee;
}

.board-categories-container input {
  margin-top: 10px;
  margin-bottom: 1px;
  background-color: #eee;
}

.board-categories-container input:hover,
.board-categories-container input:focus {
  background-color: #fff;
}

.board-categories-container .form-group button {
  display: none;
}

.board-categories-container .form-group:hover button,
.board-categories-container input:focus~button {
  display: block;
}

.board-categories-container {
  display: flex;
  align-items: flex-start;
}

.category-container {
  width: 240px;
  margin-right: 10px;
  padding: 0px 5px 5px 5px;
  border: 2px solid #aaa;
  border-radius: 3px;
  background-color: #eee;
  display: block;
  float: left;
}
