.board-list {
  margin: 15px 0 30px 0;
  font-size: 25px;
}

.board-list > * {
  display: inline-block;
  margin-top: 10px;
}

.board-list .open-board-modal {
  color: #000;
  font-size: 16px;
  margin-left: 4px;
  text-decoration: none;
}

span[ng-hide="$last"] {
  white-space: pre;
}
