/*
* NEW ACCOUNT PANEL
 */

.newaccount-container {
  display: flex;
}


/*
* VERTICAL DIVIDER
 */

.vertical-divider-container {
  margin-top: 73px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
}

.vertical-or {
  margin-top: 20px;
  margin-bottom: 20px;
  align-self: center;
}

.vertical-line {
  align-self: center;
  height: 100px;
  width: 1px;
  background: #333;
}


/*
* LOGGIN PANEL
 */

.loggin-container {
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.loggin-container h2 {
  align-self: center;
}

.loggin-help-box {
  border: 1px dashed #888;
  padding: 10px 10px;
  margin: 10px 0px;
  background-color: #fee;
}

.loggin-help-box p {
  margin: 0px;
}
