<div class="loggin-page">
  <div class="loggin-container">
    <h2>Log In</h2>
    <div class="loggin-help-box">
      <p><b>Demo Account</b></p>
      <p>username: daniel</p>
      <p>password: 123</p>
    </div>
    <form>
      <div class="form-group">
        <div><b>Username</b></div>
        <input type="text" class="form-control" ng-model="username">
      </div>
      <div class="form-group">
        <div><b>Password</b></div>
        <input type="password" class="form-control" ng-model="pwd">
      </div>
      <button class="btn btn-block btn-black" ng-click="authenticate()">Log In</button>
    </form>
  </div>
</div>
