<div class="board-modal modal-container">
  <div class="modal-close">
    <button class="btn glyphicon glyphicon-remove" ng-click="closeModal()"></button>
  </div>

  <div class="modal-title">
    <h3 editable-text="board.name" update="updateTitle()" is-editing="isEditingTitle">{{board.name}}</h3>
    <h4 class="text-muted">in user <b>{{::user.username | uppercase}}</b></h4>
  </div>
  <div class="modal-user-list">
    <kb-user ng-model="user" id="modal-user"></kb-user>
  </div>
  <hr>

  <div class="modal-options">
    <h4>Options</h4>
    <button class="btn btn-block btn-default edit-text-toggle" ng-click="toggleIsEditingTitle($event)">Rename Board</button>
    <button class="btn btn-block btn-danger" ng-disabled="true">Transfer Ownership</button>
    <deletable-object delete-fn="deleteBoard()" object-name="{{board.name}}" object-type="board"></deletable-object>
  </div>
