<div class="category-list" ng-model="board.categories" ui-sortable="::categorySortOpts">
  <kb-category ng-model="category" ng-repeat="category in board.categories track by category._id">
  </kb-category>
</div>
<div class="category-create">
  <form class="form-group" ng-submit="createCategory($event)">
    <input class="input-md form-control" ng-model="newCat" placeholder="Add a category..." type="text">
    <button type="submit" class="btn btn-black btn-block">Add Category</button>
  </form>
</div>
