/*
* POSITIONING
* body-height : 100% viewport height;
 */

body {
  height: 100vh;
}

.page {
  margin: 0px 10px;
}


/*
* Shorthand expressions:
* f_x : flexbox x-axis;
* f_y : flexbox y-axis;
* i_gr : item-grow - grow outside the bounds of your parent as needed;
* i_sh : item-shrink - shrink to fit inside your parent container;
* i_fit : item-fit - grow as long as you do not overflow;
* i_fix: item-fix - take the size of your contents;
* i_center_x : item-center x-axis;
 */

.f_x {
  display: flex;
}

.f_y {
  display: flex;
  flex-direction: column;
}

.f_x > .i_gr {
  flex: 1 0 auto;
}

.f_x > .i_sh {
  flex: 0 1 auto;
  min-width: 0px;
}

.f_x > .i_fit {
  flex: 1 1 auto;
  min-width: 0px;
}

.f_x > .i_fix {
  flex: 0 0 auto;
}

.f_y > .i_gr {
  flex: 1 0 auto;
}

.f_y > .i_sh {
  flex: 0 1 auto;
  min-height: 0px;
}

.f_y > .i_fit {
  flex: 1 1 auto;
  min-height: 0px;
}

.f_y > .i_fix {
  flex: 0 0 auto;
}

.f_x > .i_center_x {
  align-self: center;
}

.f_y > .i_center_x {
  margin-left: auto;
  margin-right: auto;
}


/*
* STYLING;
* ui-fancy-scrollbarbar only available in webkit 
 */

.btn-black {
  background-color: #222 !important;
  border: 1px solid #000;
  color: #fff !important;
}

.btn-black:hover {
  box-shadow: 0px 0px 7px #888;
}

.btn-grey {
  background-color: #ddd;
  border: 1px solid #666;
}

.btn-grey:hover {
  background-color: #fff;
  box-shadow: 0px 0px 7px #888;
}

.ui-fancy-scrollbar::-webkit-scrollbar {
  height: 9px;
  width: 9px;
}

.ui-fancy-scrollbar::-webkit-scrollbar-track {
  background: #ddd;
  border-radius: 5px;
}

.ui-fancy-scrollbar::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 5px;
}

.no-script {
  border: 3px solid #f00;
  margin: 50px auto;
  padding: 20px;
}
