.btn-black {
  border: 1px solid #000;
  color: #fff !important;
  background-color: #222 !important;
}

.btn-black:hover {
  box-shadow: 0px 0px 7px #888;
}

.btn-grey {
  border: 1px solid #666;
  background-color: #ddd;
}

.btn-grey:hover {
  box-shadow: 0 0 7px #888;
  background-color: #fff;
}
