.modal {
  display: flex !important;
  flex-direction: column;
}

.modal-dialog {
  width: auto;
  flex: 0 1 auto;
  min-height: 0px;
  display: flex;
  flex-direction: column;
}

.modal-content {
  flex: 0 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.modal-title {
  flex: 0 0 auto;
}

.modal-close {
  height: 0px;
  flex: 0 1 auto;
}

.modal-close span {
  position: absolute;
  top: 7px;
  right: 7px;
  background-color: #eee;
  border: 2px solid #ddd;
  border-radius: 5px;
  padding: 5px 10px;
}

.modal-close span:hover {
  border-color: #aaa;
  box-shadow: 0 0 10px #ccc;
}

.modal-title > input {
  width: 40%;
  height: 26px;
}

.modal-title h3 {
  margin-top: 0px;
}

.modal-user-list {
  margin-top: 15px;
  display: block;
  height: 52px;
}

.modal-user {
  float: left;
  margin-right: 3px;
}

.modal-user[ng-click="editUser(user)"] img {
  height: 50px;
  width: 50px;
  border: 1px solid #aaa;
}

.modal-options > * {
  margin-bottom: 3px;
}
