.oauth-container {
  display: flex;
  justify-content: space-around;
}

.newaccount-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  width: 37%;
}

.newaccount-container > h2 {
  align-self: center;
  padding-bottom: 20px;
}

.vertical-divider-container {
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: space-between;
  margin-top: 73px;
}

.vertical-or {
  align-self: center;
  margin: 20px 0;
}

.vertical-line {
  align-self: center;
  background: #333;
  height: 100px;
  width: 1px;
}

.login-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  width: 37%;
}

.login-container > h2 {
  align-self: center;
}

.login-help-box {
  background-color: #fee;
  border: 1px dashed #888;
  margin: 10px 0;
  padding: 10px 10px;
}

.login-help-box p {
  margin: 0;
}
