<div class="user-modal">
  <div class="modal-close">
    <span ng-click="closeModal()" class="btn glyphicon glyphicon-remove"></span>
  </div>

  <div class="modal-title">
    <h3>{{user.username}}</h3>
    <h4 class="text-muted">in board <b>{{board.name | uppercase}}</b></h4>
  </div>

  <div class="modal-user-list">
    <kb-user class="modal-user"></kb-user>
  </div>

  <hr>
  <div class="boardEdit-options">
    <h4>Options</h4>
    <div ng-repeat="option in options">
      <div class="input-group">
        <span class="input-group-addon">
        {{option.name}}
      </span>
        <input type="text" class="form-control">
      </div>
    </div>
    <button class="btn btn-danger btn-block" ng-click="removeUserFromBoard()">Remove User</button>
  </div>
</div>
