<div class="task-container">
  <div>
    <h5><button ng-click="deleteTask(category, task._id)" id='closeTask'><span class='glyphicon glyphicon-remove'></span></button>{{task.name}}</h5>

    <span ng-show="task.comments.length" class="glyphicon glyphicon-comment comment text-muted"><span>{{task.comments.length}}</span></span>
  </div>
  <div class="user-list-container">
    <div ui-sortable="userSortOpts" ng-model="task.users" class="user-list" ng-class="{background: showUserList}">
      <kb-user ng-repeat="user in task.users">
      </kb-user>
    </div>
  </div>
</div>
