<div class="modal-close">
  <span ng-click="closeModal()" class="btn glyphicon glyphicon-remove"></span>
</div>

<div class="modal-title">
  <h3>{{board.name}}</h3>
  <h4 class="text-muted">in user <b>{{user.username | uppercase}}</b></h4>
</div>
<hr>
<div class="boardEdit-options">
  <h4>Options</h4>

  <button class="btn btn-danger btn-block" ng-click="deleteBoard($event)">Delete Board</button>
  <p ng-show="isDeletingBoard" class="text-danger"><em>Are you sure? Deleting a board is permanent. To be sure, please enter the name of the board below followed be enter.</em>
  </p>
  <input ng-model="repeatBoardName" ng-show="isDeletingBoard" type="text" class="delete-board form-control" placeholder="enter board name" ng-keypress="deleteBoard($event)">
</div>
