/*CATEGORY CONTAINER*/

.category-create input {
  margin-bottom: 1px;
}

.category-container input {
  margin-top: 10px;
  margin-bottom: 1px;
  background-color: #eee;
}

.category-container input:hover,
.category-container input:focus {
  background-color: #fff;
}


/* category CONTAINER */

.category-header h4 {
  margin-top: 5px;
  margin-bottom: 0px;
  min-height: 19px;
}

.category-header #closeCategory {
  position: relative;
  font-size: 0.6em;
  bottom: 31px;
  left: 218px;
  height: 0px;
  padding: 0px;
  color: rgba(0, 0, 0, 0);
  background: rgba(0, 0, 0, 0);
  border: none;
}

.category-container:hover {
  border: 2px solid #777;
}

.category-container:hover #closeCategory {
  color: #aaa;
}

.category-container:hover #closeCategory:hover {
  color: #333;
}

.category-list > .ui-sortable-placeholder {
  background-color: #ddf;
  visibility: visible !important;
  border: none;
}
