<div class="oauth-container ui-fancy-scrollbar">


  <form class="newaccount-container" ng-if="createAccIsEnabled">
    <h3>Create a new account</h3>
    <div class="form-group">
      <div><b>Username</b></div>
      <input class="form-control" ng-model="newAccUsr" type="text">
    </div>
    <div class="form-group">
      <div><b>Password</b></div>
      <input class="form-control" ng-model="newAccPwd" type="password">
    </div>
    <div class="form-group">
      <div><b>Verify Password</b></div>
      <input class="form-control" ng-model="newAccPwdVerify" type="password">
    </div>
    <button class="btn btn-black btn-block" ng-click="createUser()">Create User</button>
  </form>


  <form class="login-container">
    <h3>Log In</h3>

    <div class="login-help-box">
      <div class="login-help-title">
        <b>Demo Account</b>
      </div>
      <div class="login-help-credentials">
        <p>username: {{::loginUsername}}</p>
        <p>password: {{::loginPwd}}</p>
      </div>
    </div>

    <div class="form-group">
      <div><b>Username</b></div>
      <input class="form-control" ng-model="loginUsername" placeholder="{{::loginUsername}}" type="text">
    </div>
    <div class="form-group">
      <div><b>Password</b></div>
      <input class="form-control" ng-model="loginPwd" placeholder="{{::loginPwd}}" type="password">
    </div>
    <button class="btn btn-black btn-block" ng-click="authenticate()">Log In</button>
  </form>


</div>
