.nav {
  cursor: pointer;
}

.navbar .navbar-nav .navbar-link {
  color: #fff;
  font-size: 32px;
  text-decoration: none;
}

.glyphicon-menu-hamburger {
  border: 2px solid #fff;
  border-radius: 5px;
  font-size: 24px;
  padding: 3px;
}

.navbar .navbar-nav .dropdown-toggle {
  padding: 8px 10px;
}

.navbar .navbar-nav .dropdown-menu {
  color: #000;
  font-size: 20px;
  text-decoration: none;
}

.navbar-fixed-padding {
  padding-top: 50px;
}
