/**
* body-height : 100% viewport height;
 */

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.navbar-view {
  flex: 0 0 auto;
}

.state-info-view {
  flex: 0 0 auto;
}

.body-view {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  min-height: 295px;
  padding: 0px 10px 2px 10px;
}

.footer-view {
  display: flex;
  flex: 0 1 auto;
  min-height: 18px;
  flex-direction: column;
}

.no-script {
  border: 3px solid #f00;
  margin: 50px auto;
  padding: 20px;
}
